$icon-font-path : "../fonts/";
// bower:scss
@import "bower_components/bootstrap4/scss/bootstrap.scss";
@import "bower_components/simple-line-icons/scss/simple-line-icons.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/slick-carousel/slick/slick-theme.scss";
// endbower

// components
@import "components/variables";
@import "components/helpers";
@import "components/fonts";
@import "components/base";
// endcomponents
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
*{
  outline: none !important;
}

 
 
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    @import "components/tablette";
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   @import "components/desktop";
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  @import "components/xl";
}