body{
    font-family: "OpenSans";
}

strong{
    font-family: "OpenSans-bold";
    font-weight: 400;
}
.base-text{
    h3{
        font-weight: 400;
        font-family: "OpenSans-light";
        font-size: 30px;
        line-height: 35px;
        color : $primary;
        margin-bottom: 18px;
    }
    p{
        font-size: 16px;
        line-height: 1.56;
        margin-bottom: 10px;
    }
}

#oeuvre{
    padding: 50px 15px;
    background-color: #fff;
   
}

#apropos{
    padding: 50px 15px 90px;
     p{
        margin-bottom: 30px;
    }
}

#decouvrir{
    background-image: url("../images/map-bg.png");
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding: 0 15px 50px;
    .pin-logo{
        text-align: center;
        margin-bottom: 15px;
        img{
           margin-top: -20px; 
        }
    }
    h2{
        font-size: 25px;
        font-family: "OpenSans-bold";
        font-weight: 400;
        color : #000;
        line-height: 35px;
        margin-bottom: 20px;
    }
    p{
        font-size: 16px;
        line-height: 25px;
        color : #000;
        margin-bottom: 35px;
    }
    .btn{
        width : 100%;
    }
}
#offre{
    padding: 50px 15px;
}
.box-offre{
    text-align: center;
    border : 1px solid #dddddd;
    color : $secondary;
    padding: 35px 15px 50px;
    .icon{
        font-size: 40px;
        margin-bottom: 10px;
        display: block;
    }
    .date{
        font-size: 13px;
        line-height: 35px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-family: 'OpenSans-semibold';
    }
    .box-offre__type{
        font-family: "OpenSans-light";
        font-size: 45px;
        line-height: 45px;
        text-transform: uppercase;
        strong{
            font-family: 'OpenSans-bold';
            font-weight: 400;
        }
    }
}

#avancement{
    background-color: $off-white;
    padding: 40px 0;
    .titre-section{
        font-size: 30px;
        text-transform: uppercase;
        color : $primary;
        font-family: "OpenSans-light";
        font-weight: 400;
        margin-bottom: 35px;
        text-align: center;
    }
}

.stepper{
    text-align: center;
    .step{
        width : 32px;
        height: 32px;
        background-color: $grey-2;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 20;  
        margin-bottom: 5px;   
    }
    .step-out{
        position : relative;
        color : $grey-2;
        span{
            font-size: 14px;
            line-height: normal;
            min-height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:after{
            content :"";
            height: 2px;
            width : 100%;
            background-color: $grey-2;
            display: block;
            position: absolute;
            right : 50%;
            top : 16px;
            z-index: 10;
        }
        &:first-child{
            &:after{
                display: none;
            }
        }
        &.done{
            color : #000;
            .step{
                background-color: $primary;
                &:before{
                    content : "";
                    height: 32px;
                    width: 32px;
                    background-image: url('../images/puce-check-beige.svg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    display: block;
                }
            }
            &:after{
                background-color: $primary;
            }
        }
    }
}

#espace-vente{
    .image-vente{
        height: 240px;
        width: 100%;
        background-size: cover;    
        background-position: center center;  
    }
    .titre-espace{
        position: absolute;
        top : 50%;
        left : 50%;
        transform : translate(-50%,-50%);
        text-align: center;
        color : #fff;
        h3{
            font-weight: 400;
            font-family: "OpenSans-light";
            font-size: 40px;
            line-height: 45px;
            strong{
                display: block;
                font-family: "OpenSans-bold";
                font-weight: 400;
            }
        }
    }
    .detail-pv{
        background-color: $secondary;
        color : #fff;
        padding: 40px 15px 55px;
        .icon{
            font-size: 40px;
            margin-bottom: 20px;
            display: block;
        }
        p{
            font-size: 16px;
            margin-bottom: 0;
            strong{
                font-weight: 400;
                font-family: "OpenSans-bold";

            }
        }
        .name{
            margin-bottom: 25px;
        }
        .horaire,.jour{
            margin-bottom: 20px;
        }
        .phone{
            font-size: 20px;
            font-weight: 400;
            font-family:  "OpenSans-bold";
            margin-bottom: 10px;
            display: block;
        }
        .locate{
            .icon{
                font-size: 18px;
                display: inline;
            }
            a{
                font-size: 16px;
                color : #fff;
            }
        }
    }
}

#contact{
    padding: 80px 15px 90px;
    position : relative;
    .titre-t1{
        h2{
            margin-bottom: 40px;
        }
    }
    .contact-chapeau{
        font-size: 18px;
        margin-bottom: 35px;
        text-align: center;
    }
    .btn-contact{
        margin-bottom: 20px;
    }
}

.lien-utile{
    margin-bottom : -50%;
    margin-top: 70px;
    .btn-group{
        display: block;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 16px 0 rgba(0, 0, 0, 0.1);
        .btn{
           width: 100%;
           border-radius: 0px 0px 0 0;
           flex: 0 0 0;
           color : $secondary;
           text-transform: uppercase;
           font-size: 16px;
           height: 60px;
           line-height: 60px;
           border : 1px solid #ddd;
           background-color: #fff;
           &:hover{
               background-color: #fff;
           }
           &+ .btn{
               margin-left: 0;
           }
           &:first-child{
               border-radius: 2px 2px 0 0;
           }
           &:last-child{
                border-radius: 0px 0px 2px 2px;
           }
           i,img{
               margin-right: 15px;
               color : $primary;
           }
        }
    }
}
#interet{
    padding: 150px 0px 60px;
    background-color: $off-white;
    .titre{
        color : $primary;
        text-align: center;
        h2{
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 50px;
            font-family: "OpenSans-light";
        }
    }
    .voir-tout{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        .btn{
            width: 100%;
        }
    }   
}

#logement-dispo{
    padding: 40px 0 75px;
     background-image: linear-gradient(to bottom, #ffffff, #ffffff), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02)), linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
     .notification{
         text-align: center;
         p{
             font-size: 14px;
             color : $grey-2;
             margin-bottom: 0;
             line-height: 1.2;
             a{
                 color : $primary;
             }
         }
     }
}
.list-block-programme{
    overflow: hidden;
    .slick-dots{
        bottom : 0;
        li{
            width: 14px;
            height: 14px;
            button{
                width : 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #bfbfbf;
                padding: 0;
                &:before{
                    display: none;
                }
            }
            &.slick-active{
                button{
                    background-color: $primary;
                    height: 9px;
                    width: 9px;
                }
            }
        }
    }
    .item{
        padding: 0px 15px 60px;
    } 
}

.accordion{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
    .card{
        border : 0;
        border-bottom : 1px solid #fff;
        .card-header{
            background-color: $primary;
            height: 80px;
            line-height: 80px;
            padding: 0 20px;
            border-radius : 0;
            cursor : pointer;
            .titre-accordeon{
                color : #fff;
                font-size: 16px;
                font-family: "OpenSans-bold";
            }
            .icon{
                width : 24px;
                height: 24px;
                background-image: url('../images/moins-white.svg');
                background-size: cover;
            }
            &.collapsed{
                .icon{
                     background-image: url('../images/plus-white.svg');
                }
            }
        }
        .card-body{
            padding: 0;
            .table{
                text-align: center;
                thead{
                    background-color: #fafafa;
                    th{
                        text-transform: uppercase;
                        font-size: 16px;
                        color : #888;
                        border : none;
                        font-weight: 400;
                    }
                }
                tbody{
                    tr{
                        td{
                            // padding: 0;
                            height: 60px;
                            // line-height: 60px;
                            vertical-align: middle;
                            border : none;
                            .btn{
                                height: 30px;
                                line-height: 30px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.desktop-programme{
    display : none;
}
.mobile-programme{
    .programme-row{
        .programme-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            padding-left: 20px;
            padding-right: 20px;
            cursor : pointer;
            background-color: #fafafa;
            &.collapsed{
                background-color: #fff;
            }
            .size{
                font-size: 16px;
                color : rgba(0, 0, 0, 0.87);
            }
            .price{
                font-size: 16px;
                font-family: "OpenSans-bold";
                color : $secondary;                
            }
            .togglebtn{
                padding-right: 10px;
                span{
                    background-image: url('../images/chevron-right-gray.svg');
                    background-size: cover;
                    height : 12px;
                    width : 7.4px;
                    transform : rotate(90deg);
                    display: block;
                }

            }
        }
        .programme-content{
            background-color: #fafafa;
            padding-top: 10px;
            padding-bottom: 30px;
            .row-bloc{
                display: flex;
                justify-content: flex-start;
                width : 100%;
                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 7px;
                .title-bloc{
                    width : 40%;
                    font-size: 16px;
                    text-transform: uppercase;
                    color : $grey-2;
                }
                .value-bloc{
                    width: 60%;
                    font-size: 16px;
                    color : #333;
                }
            }
            .button-row{
                padding-top: 30px;
                padding-left: 20px;
                padding-right: 20px;
                .btn{
                    height: 30px;
                    line-height: 30px;
                    font-size: 14px;
                }
            }
        }
    }
}

.switch-taxe{
    background-color: #f2f2f2;
    border-radius : 18px;
    display: flex;
    width: 290px;
    align-items: center;
    height: 32px;
    vertical-align: middle;
    padding: 0 4px;
    align-content: center;
    justify-content: space-between;
    margin-left : auto;
    margin-right : auto;
    margin-bottom: 50px;
    a{
        color : $grey-2;
        font-size: 14px;
        display: inline-block;
        padding: 0 20px;
        line-height: 23px;
        height: 23px;
        &.active{
            color : #fff;
            
            background-color: $primary;
            border-radius: 18px;
        }
    }
}

#top-slider{
    position:  relative;
    height: 415px;
    .slider-ctnr{
        .item{
            width : 100%;
            height: 415px;
            background-size: cover;
            background-position: center center;
        }
        .slick-arrow{
            display: none !important;
            z-index: 1000;
            height: 40px;
            width: 40px;
            border : solid 1px $primary;
            background-color: rgba(255, 255, 255, 0.7);
            transform : translateY(-50%) rotate(45deg);
            &:before{
                transform : rotate(-45deg);
                color :$primary;
                display: block;
                opacity : 1;
            }
        }
        .slick-prev{
            left : 30px;
        }
        .slick-next{
            right: 30px;
        }
    }
    .titre-programme{
        position : absolute;
        bottom : 85px;
        width : 100%;
        text-align: center;
        padding: 0 40px;
        .name{
            font-size: 35px;
            line-height: 35px;
            color : #fff;
            margin-bottom: 10px;
            strong{
                font-weight: 400;
                font-family: "OpenSans-bold";               
            }
        }
        p{
            color : #fff;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 10px;
        }
        .caracteristique{
            ul{
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
                li{
                    display: inline-block;
                    padding: 0 8px;
                }
            }
        }
    }
    .all-views{
        margin-top: -46px;
        position: relative;
        z-index: 10;
        width : 100%;
        max-width: 415px;
        margin-left: auto;
        margin-right: auto;
        .list-view{
            margin : 0 auto;
            display: flex;
            .p-box{
                text-align: center;
                flex : 0 0 25%;
                .p-box-name{
                    height: 30px;
                    display: flex;
                    flex : 0 0 25%;
                    justify-content: center;
                    p{
                        font-size: 11px;
                        color : $primary;
                        text-align: center;
                        text-transform: uppercase;
                        align-self: center;
                        margin-bottom: 0;
                    }
                }
                a{
                    img{
                        width: 80px;
                    }
                }
                
            }
        }
    }
}

#all-about{
    padding-top: 115px;
    padding-left: 15px;
    padding-right: 15px;
    .logo-part{
        margin-bottom: 25px;
        img{
            height: 35px;
        }
    }
    .type{
        font-family: "OpenSans-bold";
        font-size: 25px;
        line-height: 25px;
        color : $grey-3;
        margin-bottom: 15px;
    }
    .price{
        font-size: 40px;
        font-family: "OpenSans";
        line-height: 25px;
        color : $secondary;
        margin-bottom: 25px;
        small{
            font-size: 15px;            
        }
    }
    .livraison{
        margin-bottom: 20px;
        p{
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 0;
            color : $grey-3;
            
            strong{
                font-family: "OpenSans-bold";
                font-weight: 400;
            }
        }
    }
    .listing-btn-ctnr{
        ul{
            list-style: none;
            padding-left: 0;
            li{
                .btn{
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.contact-link{
    position: fixed;
    right: 50px;
    bottom : 60px;
    margin-top: -40px;
    z-index: 99999;
    display: none;
    img{
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        border-radius: 50%;
    }
    .popup{
        background-color: #fff;
        display: inline-block;
        border-radius: 30px;
        font-size: 14px;
        color : $primary;
        font-family: "OpenSans-semibold";
        padding: 5px;
        position: absolute;
        top : 100%;
        white-space: nowrap;
        margin-top: 15px;
        left : 50%;
        transform: translateX(-50%);
        &:before{
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px;

        }
    }
}

.souhait-check{
    padding-top: 25px;
    .checkbox{
        
        label{
            padding-left: 25px;
            position: relative;
            font-size: 16px;
            font-family: "OpenSans";
            margin-bottom: 15px;
            input{
                position : absolute;
                top : 5px;
                left: 0;
            }
        }
    }
}

.date-rdv{
    background-image: url('../images/calendar-black.svg');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 30px;
}
.creneau-rdv{
    background-image: url('../images/clock-black.svg');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 30px;
}

.listing-block{
    padding-left: 30px;
    padding-right: 30px;
}
.result{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    .resultat-nbr{
        p{
            color : $primary;
            font-family: "OpenSans";
            font-size: 18px;
            margin-bottom: 0;
            strong{
                font-family: "OpenSans-bold";
                font-weight: 400;
            }   
        }
    }
    .tri-pert{
        label{
            white-space: nowrap;
            font-size: 14px;
            font-weight: 400;
            color : $grey-3;
        }
        .dropdown.bootstrap-select{
            width: 110px;
            .bs-placeholder{
                background-color: transparent !important;
                border : none;
                display: inline-block;
                color : $grey-3;
                font-size: 14px;
                height: auto;
                line-height: normal ;
                padding-left: 0;
                font-family: "OpenSans-bold";
                vertical-align: top;
                padding-top: 2px;
            }
        }
    }
}