.titre-t1{
    h2{
        position: relative;
        font-size: 40px;
        margin-bottom: 60px;
        &:after{
            content: "";
            height: 3px;
            background-color: $off-white;
            width : 80px;
            display: block;
            position: absolute;
            right: -100px;
            top : 50%;
            transform : translateY(-50%);
        }
         &:before{
            content: "";
            height: 3px;
            background-color: $off-white;
            width : 80px;
            display: block;
            position: absolute;
            left: -100px;
            top : 50%;
            transform : translateY(-50%);
            
        }
    }

}

#decouvrir{
    padding: 0 0px 50px;

    h2{
        line-height: 25px;
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 20px;
    }
    .btn{
        width : 285px;
    }
}

#offre{
    padding: 55px 15px 90px;
}

#espace-vente{
    .detail-pv{
        padding:55px 30px 50px;
    }
}

#contact{
    padding: 70px 15px 110px;
    .list-contact--btn{
        padding-left: 20px;
        padding-right: 20px;
    }
} 
.lien-utile{
    margin-bottom : -140px;
    margin-top: 60px;
    .btn-group{
        .btn{
            flex: 0 0 33.4%;
           &+ .btn{
               margin-left: 0px;
           }
        }
    }
}

#interet{
    padding: 110px 0px 70px;
}


#logement-dispo{
    padding: 70px 0 70px;
}

.desktop-programme{
    display : table;
}

.mobile-programme{
    display : none;
}

.switch-taxe{
    margin-bottom: 30px;
}

#top-slider{
    height: 710px;
    .slider-ctnr{
        .item{
            height: 710px;
        }
        .slick-arrow{
            display: inline-block !important;
        } 
    }
}

.contact-link{
    display: block;
}