@font-face {
    font-family: 'OpenSans';
    src: url('#{$icon-font-path}opensans-regular-webfont.woff2') format('woff2'),
         url('#{$icon-font-path}opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-semibold';
    src: url('#{$icon-font-path}opensans-semibold-webfont.woff2') format('woff2'),
         url('#{$icon-font-path}opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-bold';
    src: url('#{$icon-font-path}opensans-bold-webfont.woff2') format('woff2'),
         url('#{$icon-font-path}opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-light';
    src: url('#{$icon-font-path}opensans-light-webfont.woff2') format('woff2'),
         url('#{$icon-font-path}opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}