.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.titre-t1{
    text-align: center;
    h2{
        text-transform: uppercase;
        color : $primary;
        font-weight: 400;
        font-family: "OpenSans-light";
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 40px;
        display:inline-block;
        margin-left: auto;
        margin-right: auto; 
    }
}

.read-more{
    img{
        margin-right: 8px;
    }
    a{
        color : $grey;  
    }
}

.btn{
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    border : 1px solid $primary;
    border-radius : 3px;
    background-color: transparent;
    color : $primary;
    padding: 0 15px;
    box-shadow: none !important;
    &.btn-cherry{
        background-color: $secondary;
        width : 100%;
        color : #fff;
        border : 1px solid $secondary;
        font-family: "OpenSans-semibold";
    }
    &.mini{
        height: 35px;
        line-height: 35px;
        font-size: 14.4px;
        min-width: 105px;
    }
}

.card-programme{
    border-radius: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border : none;
    .card-img-top{
        border-radius: 0;
        height: 205px;
        object-fit: cover;
        width: 100%;
    }
    &.inner-title{
        margin-bottom: 30px;
        .card-img-top{
            border-top-right-radius: 3px;
        }
        .card-body{
            position: relative;
            padding: 15px;
            .titre-card{
                position: absolute;
                bottom : 100%;
                color: #fff;
                line-height: 1;
            }
        }
    }
    .card-body{
        padding: 30px 15px 15px;
        .titre-card{
            font-family: "OpenSans-light";
            font-size: 30px;
            line-height: 13px;
            margin-bottom: 15px;
            color : #333;
            font-weight: 400;
        }
        .desc{
            font-size: 16px;
            line-height: 25px;
            color : #333;
            margin-bottom: 0;
        }
        .detail{
            color : #aaa;
            font-size: 16px;
            margin-bottom: 13px;
        }
        .bloc-price{
            .price{
                small{
                    color : #333;
                    font-size: 12px;
                    margin-bottom: 5px;
                    display: block;
                    font-family: "OpenSans-light";
                }
                p{
                    color : $secondary;
                    font-family: "OpenSans-bold";
                    font-size: 25px;
                    line-height: 1;
                    margin-bottom: 0;
                }
            }
            .decouvrir{
                align-self: flex-end;
            }
        }
    }
}

.list-check{
    padding-left: 0;
    list-style: none;
    padding-bottom: 15px;
    li{
        position: relative;
        padding-left: 25px;
        font-size: 18px;
        color : #333;
        margin-bottom: 25px;
        line-height: 1.2;
        &:before{
            content : "";
            background-image: url('../images/puce-check-red.svg');
            width: 17px;
            height: 15px;
            display: inline-block;
            background-repeat: no-repeat;
            position: absolute;
            left : 0;
            top : 8px;
        }
    }
}

.etiquette-lancement{
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1000;
    .coin{
        &:before{
            content: " ";
            width: 0; 
            height: 0; 
            border-top: 90px solid $secondary; 
            border-right: 90px solid transparent;
            display: block;
        }     
        .icon-rocket{
            color : #fff;
            position: absolute;
            font-size: 20px;
            top : 10px;
            left: 10px;
        }
        .lancement{
            text-transform: uppercase;
            color : #fff;
            font-family: "OpenSans-bold";
            transform : rotate(-45deg);
            font-size: 9px; 
            line-height: 9px;
            top : 30%;
            left : 5px;
            position: absolute;
        }

    }
    &.small{
        .coin{
            &:before{
                content: " ";
                width: 0; 
                height: 0; 
                border-top: 90px solid $secondary; 
                border-right: 90px solid transparent;
                display: block;
            }     
            .icon-rocket{
                font-size: 20px;
                top : 10px;
                left: 10px;
            }
            .lancement{
                font-size: 9px; 
                line-height: 9px;
                top : 30%;
                left : 5px;
            }
        }
    }
}

.modal-backdrop {
    background-color: rgb(51,51,51);
}

.modal{
    text-align: left;
    .heading-modal{
        .title-heading{
            text-align: center;
            padding-top: 35px;
            h2{
                color : $primary;
                font-weight: 400;
                font-family: "OpenSans";
                font-size: 35px;
            }
        }
    }
    .modal-dialog{
        margin-top: 55px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .modal-close-btn{
        position: absolute;
        right: 0;
        top : -45px;
        cursor: pointer;
    }
    .modal-content{
        padding: 30px;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
        border-radius: 0;

        .modal-tab{
            .inner-pane{
                padding-top: 20px;
            }
            p{
                font-size: 16px;
                line-height: 25px;
                color : $grey-3;
                font-family: "OpenSans";
            }
        }
        .notice{
            // margin-left: -15px;
            // margin-right: -15px;
            p{
                font-size: 12px;
                font-family: "OpenSans";
                color : #9b9b9b;
                line-height: normal;
                strong{
                    font-family: "OpenSans-bold";
                    font-weight: 400;
                    margin-bottom: 20px;
                }
            }
        }
    }
    
}
.custom-tabs{
    display: block;
    li{
        display: block;
        clear: both;
        a{
            position: relative;
            font-size: 15px;
            text-transform: uppercase;
            font-family: "OpenSans";
            color: $grey-2;
            padding-left: 35px;
            text-decoration: none;
            line-height: 1;
            display: block;
            margin-bottom: 20px;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: -2px;
                width: 20px;
                height: 20px;
                border: 2px solid $primary;
                border-radius: 100%;
                background: #fff;
            }
            &.active{
                font-family: "OpenSans-bold";
                color : $primary;
                &:after{
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: $primary;
                    position: absolute;
                    top: 3px;
                    left: 5px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
            }
        }
    }
}

.modal-form{
    .form-control{
        font-size: 16px;
        font-family: "OpenSans";
        color : $grey-3;
        border : none;
        border-bottom : 1px solid #ccc;
        margin-bottom: 20px;
        box-shadow: none;
        border-radius : 0;
        padding-left: 0;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color : $grey-3;
            opacity : 1;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color : $grey-3;
            opacity : 1;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color : $grey-3;
            opacity : 1;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color : $grey-3;
            opacity : 1;
        }
    }
    .btn-wrapper{
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .custom-selecter{
        .btn{
            font-size: 16px;
            font-family: "OpenSans";
            color : $grey-3;
            border : none;
            border-bottom : 1px solid #ccc;
            margin-bottom: 20px;
            box-shadow: none;
            border-radius : 0;
            
            height: 36px !important;
            line-height: normal;
            padding: 6px 12px;
            padding-left: 0;
            &:hover{
                background: #fff;
            }
            &:after{
                position: absolute;
                right: 0;
                bottom : 10px;
            }
        }
    }
}

@media (min-width: 768px) {  
    .etiquette-lancement{
        .coin{
            &:before{
                border-top: 104px solid $secondary; 
                border-right: 104px solid transparent;
            }     
            .icon-rocket{
                font-size: 20px;
                top : 15px;
                left: 15px;
            }
            .lancement{
                font-size: 9px; 
                line-height: 9px;
                top : 35%;
                left : 10px;
            }

        }
    }

    .modal{
        .modal-dialog{
            margin-top: 55px;
            margin-left: auto;
            margin-right: auto;
            max-width: 720px;
            .modal-content{
                padding-top: 0;
            }
        }     
    }
    .custom-tabs{
        display: flex;
        justify-content: flex-start;
        margin-right: -30px;
        margin-left: -30px;
        li{          
            text-align: center;
            a{
                color: $primary;
                line-height: normal;
                margin-bottom: -2px;
                width : 200px;
                padding: 15px 40px;
                background-color: #fff;
                
                &:before{
                    display: none;
                }
                &.active{
                    font-family: "OpenSans-bold";
                    color : $secondary;
                    &:after{
                        display: none;
                    }
                }
            }
            &:not(:first-child){
                a{
                    border-left : 1px solid #eee; 
                }
            }
            &:last-child{
                
                a{
                    &.active{
                        border-right: 1px solid #eee; 
                    }
                 }
            }
        }
    }
    .modal-form{
        .btn-wrapper{
            width: 350px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        }
        .custom-selecter{
            .btn{
                font-size: 16px;
                font-family: "OpenSans";
                color : $grey-3;
                border : none;
                border-bottom : 1px solid #ccc;
                margin-bottom: 20px;
                box-shadow: none;
                border-radius : 0;
                
                height: 36px;
                line-height: normal;
                padding: 6px 12px;
                padding-left: 0;
                &:hover{
                    background: #fff;
                }
                &:after{
                    position: absolute;
                    right: 0;
                    bottom : 10px;
                }
            }
        }
    }
}
 

@media (min-width: 992px) { 
    .etiquette-lancement{
        .coin{
            &:before{
                border-top: 174px solid $secondary; 
                border-right: 174px solid transparent;
            }     
            .icon-rocket{
                font-size: 34px;
                top : 25px;
                left: 25px;
            }
            .lancement{
                font-size: 18px; 
                line-height: 17.5px;
                top : 30%;
                left : 15px;
            }

        }
    }
    .modal{
        .modal-dialog{
            max-width: 600px;
        }     
    }

    .custom-tabs{
        margin-bottom: 20px;
        li{          
            text-align: center;
            flex : 0 0 33.3333%;
            a{
                width : auto;
            }
        }
    }
}
  
