.base-text{
    h3{
        font-size: 35px;
        margin-bottom: 21px;
    }
    p{
        font-size: 18px;
    }
}

#oeuvre{
    padding: 70px 0px;
    background-color: #fff;
}

#offre{
    padding: 60px 15px;
}

.box-offre{
    padding: 35px 15px;
}

#espace-vente{
    .image-vente{
        height: 100%;    
    }
    .detail-pv{
        padding:55px 30px 50px;
        .icon{
            font-size: 40px;
            margin-bottom: 20px;
            display: block;
        }
        .name{
            margin-bottom: 25px;
        }
        .horaire,.jour{
            margin-bottom: 20px;
        }
        .phone{
            margin-bottom: 35px;
        }
    }
}

#contact{
    padding: 60px 15px 110px;
    .contact-chapeau{
        margin-bottom: 65px;
    }
}   

.lien-utile{
    margin-bottom : -140px;
    margin-top: 60px;
    .btn-group{
        display: inline-flex;
        width : 100%;
        .btn{
           border-radius: 0px 0px 0 0;
           flex: 0 0 33.33333%;
           background: #fff;
           &+ .btn{
               margin-left: -1px;
           }
           &:first-child{
               border-radius: 2px 0px 0 2px;
           }
           &:last-child{
                border-radius: 0px 2px 2px 0px;
           }
        }
    }
}

#interet{
    padding: 90px 0px 60px;
    .titre{
        h2{
            font-size: 40px;
            margin-bottom: 65px;
        }
    }
    .voir-tout{
        text-align: center;
        .btn{
            width: 230px;
        }
    }   
}

#logement-dispo{
    padding: 40px 0 40px;
}

.mobile-programme{
    .programme-row{
        .programme-content{
            .row-bloc{
                .title-bloc{
                    width : 47%;
                }
                .value-bloc{
                    width: 53%;
                }
            }
        }
    }
}


.switch-taxe{
    margin-bottom: 40px;
}

#top-slider{
    height: 410px;
    .slider-ctnr{
        .item{
            height: 410px;
        }     
    }
    .titre-programme{
        bottom : 80px;
        .name{
            line-height: 25px;
            color : #fff;
            margin-bottom: 10px;
            strong{
                font-weight: 400;
                font-family: "OpenSans-bold";               
            }
        }
        p{
            font-size: 18px;
            line-height: 25px;
        }
        .caracteristique{
            ul{
                list-style: none;
                padding-left: 0;
                li{
                    display: inline-block;
                    padding: 0 8px;
                }
            }
        }
    }
    .all-views{
        margin-top: -56px;
        max-width: 480px;
        .list-view{
            margin : 0 auto;
            display: flex;
            .p-box{
                text-align: center;
                flex : 0 0 25%;
                .p-box-name{
                    height: 30px;
                    display: flex;
                    flex : 0 0 25%;
                    justify-content: center;
                    p{
                        font-size: 11px;
                        color : $primary;
                        text-align: center;
                        text-transform: uppercase;
                        align-self: center;
                        margin-bottom: 0;
                    }
                }
                a{
                    img{
                        width: 101px;
                    }
                }
                
            }
        }
    }
}